<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstVC</key>
	<string>First controller</string>
	<key>SecondVC</key>
	<string>Second controller</string>
	<key>ThirdVC</key>
	<string>Third controller</string>
</dict>
</plist>
