<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🅃</key>
	<string>Template</string>
	<key>C🅃</key>
	<string>Container</string>
	<key>T🅃</key>
	<string>Type</string>
	<key>HT🅃</key>
	<string>Hash Table</string>
</dict>
</plist>
